controller:
  numExecutors: 3
  executorMode: "EXCLUSIVE"
  customJenkinsLabels: ["master-node"]
  image:
    tag: ${jenkins_version}

  jenkinsUrl: ${jenkins_url}
  JCasC:
    securityRealm: |-
      local:
        allowsSignup: false
        enableCaptcha: false
        users:
        - id: ${jenkins_username}
          name: "Jenkins Admin"
          password: ${jenkins_password}
    authorizationStrategy: |-
      loggedInUsersCanDoAnything:
        allowAnonymousRead: false

  installPlugins:
    %{ for k, v in jenkins_plugins ~}
    - ${k}:${v}
    %{ endfor ~}

persistence:
  storageClass: ${storage_class_name}
  size: "10Gi"
